<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
</head>

<body>
    
    <%- include('header.ejs') %>
        <div class="container">
            <form action="/changePassword" method="post">
                <h3>Change Password</h3>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="inputBox">
                    <input type="text" name="previousPassword" placeholder="previous password">
                </div>
                <div class="inputBox">
                    <input type="password" name="newPassword" placeholder="New Password"><i></i>
                </div>
                <input type="submit" value="Change Password">
            </form>
        </div>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                    <li class="error-msg"><%= messages.error[i] %></li>
            <% } %>
          <% } %>
            </body>
          </html>