<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
  </head>

  <body>
    
    <div>
    <div>
    <%- include('header.ejs') %>
    <a href="/signout" class="btn-signout"><button>SignOut</button></a>
    <a href="/changePassword" class="changePwd"><span><button>Change Password</button></a></span></div>

    <h3>Elections</h3>
    <ul>
      <% for (let i=0; i < data.length;i++){%>
      <li>
        <div>
          <a
            href="/elections/<%= data[i].id %>"
          >
            <%= data[i].electionname %>
          </a>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
    <div>
    <form action="/elections" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="text" placeholder="Add new election" name="name" />
      <button type="submit">create</button>
    </form>
    </div>
    </div>
    
  </body>
</html>