<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>

  </head>
  <body>
    
    <%- include('header.ejs') %>
    <a href="/signout"><button>SignOut</button></a>
    
<div>
    <b><%=currentQuestion.name%></b>
</div>
    <p ><%=currentQuestion.description%></p>
    
    

    <ul>
      <% for (let i=0; i < options.length;i++){%>
      <li>
        <div>
          <u id="<%=options[i].id%>">
            <%= options[i].optName %></u>
            
            <button onclick="removeOption(<%=currentElection.id%>,<%=currentQuestion.id%>,<%=options[i].id%>)">remove</button>
          </div>
        </li>
        <% } %>
        </div>

    </ul>
  
    <form action="/elections/<%=currentElection.id%>/questions/<%=currentQuestion.id%>/options/new" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="text" placeholder="Add new option" name="optName" autofocus/>
      <button type="submit">Add</button>
    </form>
    <script>
      var token=document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      
        function removeQuestion(electionid,questionid){
            fetch(`/elections/${electionid}/questions/${questionid}`,{
                method:"delete",
                headers:{"Content-Type": "application/json"},
                body:JSON.stringify({
                    "_csrf":token
            })
            })
              .then((res)=>{
                if(res.status===200){
                    window.location.reload();
                }else {
                  window.alert("cannot delete last question")
                  window.location.reload();

                }
              })
              .catch((err) => console.error(err));
        }
        
        function removeOption(electionid,questionid,optionid){
            fetch(`/elections/${electionid}/questions/${questionid}/options/${optionid}`,{
                method:"delete",
                headers:{"Content-Type": "application/json"},
                body:JSON.stringify({
                    "_csrf":token
            })
            })
              .then((res)=>{
                if(res.status===200){
                    window.location.reload();
                }else {
                  window.alert("cannot delete last two options")
                  window.location.reload();

                }
              })
              .catch((err) => console.error(err));
        }
        
          
      
    </script>
  </body>
</html>