<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
    <!-- <script>
      var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content")
      function editQuestion(id,qid){
        console.log("editing question...");
        questionName=document.getElementById("questionName").innerText
        questionDesc=document.getElementById("questionDesc").innerText
        if (questionName===""){
          window.alert("Question name cannot be empty")
          window.location.reload()
        }else{
          console.log(questionName);
          fetch(`/elections/${id}/questions/${qid}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    name:questionName,
                    description:questionDesc,
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.log(err));
        }
      }
      function editOption(id,qid,oid){
        console.log("editing option...");
        optionName=document.getElementById(`${oid}`).innerText
        if (optionName===""){
          window.alert("Answer name cannot be empty")
          window.location.reload()
        }else{
          console.log(optionName);
          fetch(`/elections/${id}/questions/${qid}/options/${oid}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    name:optionName,
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.log(err));
        }
      }
      function deleteOption(id,qid,oid){
        fetch(`/elections/${id}/questions/${qid}/options/${oid}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.log(err));
      }
      function deleteQuestion(id,qid){
        fetch(`/elections/${id}/questions/${qid}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    console.log(res)
                    if (res.status===200) {
                        window.location.replace(`/elections/${id}/questions`);
                    }else if(res.status===300){
                      window.alert("Cannot Delete the only question in the ballot")
                      window.location.reload()
                    }
          })
                
                .catch((err) => console.log(err));
      }
    </script> -->
  </head>
  <body>
    
    <%- include('header.ejs') %>
    <a href="/signout"><button>SignOut</button></a>
    
<div>
    <b><%=question.name%></b>
</div>
    <p ><%=question.description%></p>
    <button style="display: none;" id="quesSave" onclick="editQuestion(<%=election.id%>,<%=question.id%>)">Save Changes</button>
    
    <% if(noOfOptions < 2 ){%>
    <small style="color: red;">please provide atleast two options for a question</small>
    <%}%>

    <ul>
      <% for (let i=0; i < options.length;i++){%>
      <li>
        <div>
          <u id="<%=options[i].id%>" ondblclick="opt=document.getElementById('<%=options[i].id%>');opt.contentEditable=true;opt.focus();document.getElementById('btn<%=options[i].id%>').style.display=`initial`"><%= options[i].name %></u>
          <button style="display: none;" id="btn<%=options[i].id%>" onclick="editOption(<%=election.id%>,<%=question.id%>,<%=options[i].id%>)">Save Changes</button>
          <button onclick="deleteOption(<%= election.id%>,<%= question.id%>,<%=options[i].id%>)">del</button>
        </div>
      </li>
      <% } %>
      
    </ul>

    <form action="/elections/<%=election.id%>/questions/<%=question.id%>/options/new" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="text" placeholder="Add new option" name="name" autofocus/>
      <button type="submit">Add</button>
    </form>
    <button onclick="deleteQuestion(<%= election.id%>,<%= question.id%>)">Delete Question</button>
  </body>
</html>