<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content")
        function endElection(id){
            fetch(`/elections/${id}/end`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload()
                    }
                })
                .catch((err) => console.log(err));
        }
        function deleteElection(id) {
            fetch(`/elections/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.replace("/elections");
                    }
                })
                .catch((err) => console.log(err));
        }
        
    </script>
</head>
<body>
    <div>
        <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=id%>"><%=electionName%></a>
      </div>
    <%- include('header.ejs') %>
    <a href="/signout"><button>SignOut</button></a>

    <h3><a href="/elections/<%=id%>"><%=electionName%></a></h3>
    <h3>Number of Questions in Ballot:<span><%=quesCount%></span></h3>
    <% if (! onGoingStatus){%>
        <a href="/elections/<%=id%>/questions">Manage your questions</a>
    <%}else{%>
        <b>Election running at:</b>
        <a id="vote" href="/elections/<%=id%>/polling" >/elections/<%=id%>/vote</a>
        <%}%>
    <h3>Number of registered Voters for this election:<span><%=voterCount%></span> </h3>
    <a href="/elections/<%=id%>/voters">Manage voters</a>
    <div>
        <%if(!onGoingStatus){%>
            <a href="/elections/<%=id%>/preview"><button>Preview Election</button></a>
            
            <%}else{%>
                <button onclick="endElection(<%=id%>)">End Election</button>
        <%}%>
        <button class="del" onclick="deleteElection(<%=id%>)">Remove</button>
        <%if(onGoingStatus){%>
            <a href="/elections/<%=id%>/results"><button>Results</button></a>
        <%}%>

    </div>

    <script>
        const vote=document.getElementById("vote")
        vote.innerText=window.location.origin+vote.innerText
        
        var token=document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute("content");
        
        
      </script>
</body>
</html>